.LABEL {
	-fx-fill: #8e908c;
	-fx-font-weight: bold;
}

.ASSEMBLERINST {
	-fx-fill: #4271ae;
	-fx-font-weight: bold;
}

.MACROINST {
	-fx-fill: #c4a763;
	-fx-font-weight: bold;
}

.CPUINST {
	-fx-fill: #eab700;
	-fx-font-weight: bold;
}

.REGISTER{
	-fx-fill: #718c00;
	-fx-font-weight: bold;
}

.INDEXREGISTER {
	-fx-fill: #718c00;
	-fx-font-weight: bold;
}

.DECIMAL {
	-fx-fill: lightblue;
	-fx-font-weight: bold;
}

.HEXADECIMAL{
	-fx-fill: lightblue;
	-fx-font-weight: bold;
}

.STRING{
	-fx-fill: lightblue;
	-fx-font-weight: bold;
}

.LITERAL {
	-fx-fill: orange;
	-fx-font-weight: bold;
}

.COMMENT {
	-fx-fill: #7486a6;
	-fx-font-weight: bold;
}
.COMMA {
	-fx-fill: #7486a6;
	-fx-font-weight: bold;
}
.SPACE {
	-fx-fill: #7486a6;
	-fx-font-weight: bold;
}

.DEFAULT {
	-fx-fill: black;
}

.code-area {
	-fx-background-color: white;
	-fx-font-size: 20px;
}

.activeLine{
	-fx-background-color: #808000;
}

.PRSP{
	-fx-fill: #899c63;
	-fx-font-weight: bold;
}

.DEFMACRO{
	-fx-fill: #899c63;
	-fx-font-weight: bold;
}

.label{
	-fx-background-color:white;
	-fx-border-width:0 0.1 0 0.1;
	-fx-text-fill: #d0d0d0;
	-fx-font-size:20px;
	-fx-text-alignment: left;
}